<ng-container *ngIf="currentPageCategoryName$ | async as categoryName">
  <div class="row row-cols-1 row-cols-md-2 g-12">
    <div class="col-12 col-md-3">
      <h4 class="mb-3">Categories</h4>
      <ul class="nav nav-category">
        <li
          *ngFor="let item of categoriesNames$ | async"
          class="nav-item border-bottom w-100 collapsed"
        >
          <a class="nav-link"
            >{{ item }}
            <img
              src="assets/libs/feather-icons/dist/icons/chevron-right.svg"
              width="16"
              height="16"
              alt="arrow-right"
          /></a>
        </li>
      </ul>
      <p class="fs-5 mt-5 mb-0">Price</p>
      <form [formGroup]="filtersForm">
        <input
          type="number"
          class="form-control my-3"
          formControlName="priceFrom"
          placeholder="Price From"
        />
        <input
          type="number"
          class="form-control my-3"
          formControlName="priceTo"
          placeholder="Price To"
        />
      </form>
    </div>
    <section class="col-12 col-md-9">
      <div class="card bg-light w-100">
        <div class="card-body p-9">
          <h2 class="mb-0">{{ categoryName }}</h2>
        </div>
      </div>
      <ng-container
        *ngIf="freshProductsWithPagination$ | async as freshProducts"
      >
        <div class="d-flex justify-content-between align-items-end mt-3 mb-6">
          <p class="m-0">{{ freshProducts.length }} Products found</p>
          <select class="form-select w-25 h-50" [formControl]="sortForm">
            <option
              *ngFor="let item of sortOptions$ | async"
              [value]="item.value"
            >
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="row row-cols-1">
          <div class="col" *ngFor="let freshProduct of freshProducts">
            <div class="card card-product">
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <img
                      [src]="freshProduct.imageUrl"
                      [alt]="'image'"
                      class="img-fluid w-100"
                    />
                  </div>
                  <div class="col-8">
                    <div
                      class="d-flex flex-column justify-content-center h-100"
                    >
                      <div>
                        <p class="text-muted m-0">{{ categoryName }}</p>
                      </div>
                      <div class="mb-1">
                        <p class="m-0 text-truncate fs-5 text-black">
                          {{ freshProduct.name }}
                        </p>
                      </div>
                      <div class="d-flex align-items-center">
                        <small class="text-warning">
                          <i
                            *ngFor="let val of freshProduct.rating.starsValues"
                            class="bi"
                            [ngClass]="{
                              'bi-star-fill': val === 1,
                              'bi-star': val === 0,
                              'bi-star-half': val === 0.5
                            }"
                          ></i>
                        </small>
                        <p class="p-0 m-0">
                          {{ freshProduct.rating.value }}({{
                            freshProduct.rating.ratingCount
                          }})
                        </p>
                      </div>
                      <div class="mt-5 text-black fs-5">
                        {{ freshProduct.price | currency }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="freshProducts.length > 0">
          <div
            class="mt-5 row row-cols-2"
            *ngIf="pagination$ | async as pagination"
          >
            <div class="col">
              <nav>
                <p class="mb-1">Limit</p>
                <ul class="pagination">
                  <li class="page-item" *ngFor="let item of pageSizes$ | async">
                    <button
                      class="page-link"
                      [ngClass]="{ active: pagination.pageSize === item }"
                      (click)="onPageSizeChanged(item)"
                    >
                      {{ item }}
                    </button>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col">
              <nav>
                <p class="mb-1">Pagination</p>
                <ul class="pagination">
                  <li
                    class="page-item"
                    *ngFor="let item of pageNumbers$ | async"
                  >
                    <a
                      class="page-link"
                      [ngClass]="{ active: pagination.pageNumber === item }"
                      (click)="onPageNumberChanged(item)"
                      >{{ item }}</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </section>
  </div>
</ng-container>
